<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="utf-8">
    <title>AWS Cognito Demo App</title>
</head>
<body>
    <h1>AWS Cognito Demo App</h1>

    <div sec:authorize="isAuthenticated()">
        <p>Hello, <strong th:text="${#authentication.name}"></strong>!</p>
        <p>OIDC properties: <div th:text="${#authentication.getPrincipal()}"></div></p>
        <a th:href="@{/logout}"><button>Log out</button></a>
    </div>

    <div sec:authorize="isAnonymous()">
        <a th:href="@{/oauth2/authorization/cognito}"><button>Log in</button></a>
    </div>
</body>
</html>
